/*--------------------------------*/
/*Sitewide*/
/*--------------------------------*/

body {
    background-color: #D5CEC4;
    
}

#action-btns {
    background-color: #4F2B45;
    color: #4F2B45;
}

/*--------------------------------*/
/*Maps*/
/*--------------------------------*/

#feelings-heatmap {
    width: 100%;
    height: 100%;
}
#map-container {
    position: absolute;
    width: 100%;
    height: 100%;
}


