{% extends 'base.html' %}
{% block content %}
  <h1>About Mixed Feelings</h1>
    <div id="about">
        <p id="about-text">The Internet can be a scary place in which people are apt to forget that behind that username is a person with real feelings! Mixed Feelings is a web app that aims to remind people to be kind to their fellow humans, while also giving them a place where they can take a second to be mindful of their own feelings. MF prompts the user to fill out information about their current emotional state. The app then uses sentiment analysis to poll Twitter and Giphy for text and image related to their current feelings. Once they have spent time reflecting on how they are feeling, a user can then also take a look at how other users are feeling by looking at a map of other saved results that are color coded based on emotional state.</p>
    </div>

{% endblock %}

{% block page_js %}
{% endblock %}