<!DOCTYPE html>
<html lang="en">
<head>  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Bootstrap -->
<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css" rel="stylesheet" integrity="sha384-awusxf8AUojygHf2+joICySzB780jVvQaVCAt1clU3QsyAitLGul28Qxb2r1e5g+" crossorigin="anonymous">
  <!-- Google Fonts Link -->
  <link href='http://fonts.googleapis.com/css?family=Frijole' rel='stylesheet' type='text/css'>
 <!--  Javascript -->
  
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js">
  </script>

  <!-- STUFF NEEDED FOR GOOGLE MAPS API -->



  
  <link rel="stylesheet" type="text/css" href="/static/css/mixed-feelings.css">

  <title>{%block title %} Mixed Feelings {% endblock %} </title>


</head>
<body>
<!-- Facebook Oauth -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '332371360558944',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.10'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
    <!-- Static navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#navbar"
                aria-expanded="false"
                aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
  <!--       <a class="navbar-brand">MF</a> -->
      <div id="navbar" class="navbar-collapse collapse">
       <div class="col-md-push-9">
        <ul class="nav navbar-nav navbar-fixed-side" id="left-nav">
          <li><a href="/about">About Feels</a></li>
          <li><a href="/global_feelings">Feels Map</a></li>
          <li><a href="/feelings">Feels Calculator</a></li>
        </ul>
      </div>
      <div class="col-md-pull-3">
        <ul class="nav navbar-nav navbar-right">
          {% if "user_id" in session %}
          <li><a href="/users/{{ session['user_id'] }}">Profile</a></li>
          <li><a href="/logout">Log Out</a></li>
        {% else %}
          <li><a href="/login">Log In</a></li>
          <li><a href="/register">Register</a></li>
        </ul>
      </div>
        {% endif %}
      </div>
    </div>
  </nav>
<div class="container-fluid" id="content">

{% block content %}
{% endblock %}
</div> <!-- last line of body -->


  <footer id="footer" class="footer navbar-fixed-bottom">
    {%block footer %}
    <!-- &copy; Just kidding this isn't copywritten. -->
    {% endblock %}
  </footer>
{% block page_js %}
{% endblock %}
</body>
</html>