<!DOCTYPE html>
<html lang="en">
<head>  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Bootstrap -->
  <!-- <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cyborg/bootstrap.min.css" rel="stylesheet">  -->
  <!-- Google Fonts Link -->
  <!-- <link href='http://fonts.googleapis.com/css?family=Frijole' rel='stylesheet' type='text/css'> -->
 <!--  Javascript -->
  
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js">
  </script>

  <!-- STUFF NEEDED FOR GOOGLE MAPS API -->



  
  <link rel="stylesheet" type="text/css" href="static/css/map.css">

  <title>{%block title %} Mixed Feelings {% endblock %} </title>


</head>
<body>
<div id="content">
    <!-- Static navbar -->
<!--   <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#navbar"
                aria-expanded="false"
                aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">MF</a>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/about">About</a></li>
          <li><a href="/global_feelings">FEELS</a></li>
          {% if "user_id" in session %}
          <li><a href="/users/{{ session['user_id'] }}">Profile</a></li>
          <li><a href="/logout">Log Out</a></li>
        </ul>
        {% else %}
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/login">Log In</a></li>
          <li><a href="/register">Register</a></li>
        </ul>
        {% endif %}
      </div>
    </div> -->
  </nav>
{% block content %}
{% endblock %}
</div> <!-- last line of body -->

  <div id="footer">
    {%block footer %}
    &copy; Just kidding this isn't copywritten.
    {% endblock %}
  </div>
{% block page_js %}
{% endblock %}
</body>
</html>