{% extends 'base.html' %}
{% block content %}
  
    <div id="img-carosel">
        <h1>Ooops! You broke the internet!</h1>
        <img src="https://assets.merriam-webster.com/mw/images/article/art-wap-landing-mp-lg/snowflake-3317-423a9ae38f3342e0c130c5473fee6d3c@1x.jpg"><br>
        <p>You are such a beautiful and unique snowflake that you were litterally the first
            person on the internet to come up with such an interesting combonation
            of thoughts and feelings! We are working on developing a badge of honor. 
            In the meantime, please except this sarcastic congratulations and try 
            creating a different query!</p>
    </div>

{% endblock %}

{% block page_js %}
{% endblock %}