{% extends 'base.html' %}
{% block content %}
<h1>How are you feeling?</h1>
<form action="/results" method="POST">
  <div class="form-group">
    <label>Feelings keywords:
      <input type="text" name="feeling_keyword" required class="form-control"><br>
    </label>
  </div>

  <div class="form-group">
    <label>Go onnnn tell me more:
      <input type="text" name="p_feels" required class="form-control"><br>
    </label>
  </div>

  <div class="form-group">
    <label> Are you a glass half full or glass half empty kind of person?<br>
      <input type="radio" name="feels" value="full">Full<br>
      <input type="radio" name="feels" value="empty">Empty<br>
    </label>
  </div>
        
  <div class="form-group">
    <input type="submit" value="Calculate the feels" class="btn btn-danger">
  </div>
</form>
{% endblock %}