{% extends 'base.html' %}
{% block content %}

<div class="jumbotron">
  <h1>Jumbotron</h1>
  <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div>
<form action="/feelings" method="GET">
  <div class="form-group">
    <input type="submit" value="TELL ME ABOUT YOUR FEELS" class="action-btns">
  </div>
</form>
{% endblock %}

{% block page_js %}
{% endblock %}