{% extends 'base.html' %}
{% block content %}


    <h1>Login</h1>
<!--     <script>
var finished_rendering = function() {
console.log("finished rendering plugins");
var spinner = document.getElementById("spinner");
spinner.removeAttribute("style");
spinner.removeChild(spinner.childNodes[0]);
}
FB.Event.subscribe('xfbml.render', finished_rendering);
</script>
<div id="spinner"
    style="
        background: #4267b2;
        border-radius: 5px;
        color: white;
        height: 40px;
        text-align: center;
        width: 250px;">
    Loading
    <div
    class="fb-login-button"
    data-max-rows="1"
    data-size="large"
    data-button-type="continue_with"
    ></div>
</div>
} -->
    <form action="/login" method="POST">

        <div class="form-group">
            <label>Email:
                <input type="email" name="email" required class="form-control">
            </label>
        </div>

        <div class="form-group">
            <label>Password:
                <input type="password" name="password" required class="form-control">
            </label>
        </div>

        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-info">
        </div>

    </form>

{% endblock %}

{% block page_js %}
{% endblock %}