{% extends 'base.html' %} {% block content %}

<h1>Login</h1>


<form action="/login" method="post">
    <div class="form-group">
        <label>Email: <input class="form-control" name="email" required="" type="email"></label>
    </div>


    <div class="form-group">
        <label>Password: <input class="form-control" name="password" required="" type="password"></label>
    </div>


    <div class="form-group">
        <input class="btn btn-info" type="submit" value="Login">
    </div>
</form>
{% endblock %} {% block page_js %} {% endblock %}