{% extends 'base.html' %} {% block content %}

<form action="/search_results" method="post">
    <div class="form-group map">
        <label class="search">Search: <input class="form-control" id="search-keyword" name="search" required="" type="text"><br></label>
    </div>


    <div id="map-container">
        <div id="feelings-heatmap">
        </div>
    </div>
    {% endblock %} {% block page_js %} 
    <script src="/static/js/feelings.js" type="text/javascript">
    </script> 
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMy26MROkYoKf6MQaNJ8OCuy119u08wrE&libraries=visualization&callback=initMap">
    </script> {% endblock %}
</form>