{% extends 'base.html' %}
{% block content %}
<div id="map-container">
<!--     <form action="/results" method="POST">
  <div class="form-group">
    <label>Feelings keywords:
      <input type="text" name="feeling_keyword" required class="form-control"><br>
    </label>
  </div> -->

<div id="feelings-heatmap"></div>
</div>
{% endblock %}

{% block page_js %}
<script src="/static/js/feelings.js" type="text/javascript"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMy26MROkYoKf6MQaNJ8OCuy119u08wrE&libraries=visualization&callback=initMap">

</script>
{% endblock %}