{% extends 'base.html' %}
{% block content %}

<a href="/word_cloud">Word Cloud</a>

{% if saved_mixes %}
  <h3>Saved Remixes</h3>
    
  {% for result in saved_mixes %}
<div class="container">
  <div class="galleryItem">
    <a href="{{ result.picture.flickr_url }}"></a>
    <img src="{{ result.picture.flickr_url }}" alt="">
    <h4>{{result.keywords}}</h4>
    <p>{{ result.tweet.tweet_text }}</p>
  </div>
</div>
          
     

  </div>
  {% endfor %}

{% endif %}




{% endblock %}

{% block page_js %}
{% endblock %}

  <!--   <h3>{{result.keywords}}</h3>
    <img src="{{ result.picture.flickr_url}}">
    <p>{{ result.tweet.tweet_text}}</p> -->