{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#navbar"
              aria-expanded="false"
              aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Ubermelon</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/about">About</a></li>
        <li><a href="/profile">Profile</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login">Log In</a></li>
      </ul>
    </div>
  </div>
</nav>
    <div id="homepage-block">
        <h1 id="homepage-title"> Mixed Feelings </h1>
    </div>
    <div id="img-carosel">
         <h1>HELLO THERE! THIS IS THE PROFILE/USER PAGE!!!!!!</h1>
        <img src="https://farm5.staticflickr.com/4362/36393232736_41c24f5e04_b.jpg">
    </div>


{% endblock %}